body{background-color: #bdbdb0;
font-family: Arial, Helvetica, sans-serif;}
header{display: flex;
    align-items: center;}
nav{padding-bottom: 1rem;}
nav>a{background-color: black;
    color: #bdbdb0;
font-size: large;
padding: .3rem;}
nav>a:hover{background-color: #bdbdb0;
color: black;
}
.flex-container{
align-items: center;}
section{display: flex;
align-items: center;}
section>h1{padding-right: 6rem;
text-align: center;
font-size: 4rem;
padding-left: 1rem;}
section>p{border: 2px solid black;
padding: 1rem;
font-size: xx-large;}
#section-2{font-size: 3rem;
    padding-left: 1rem;
padding-right: 6rem;
text-align: center;}
#image-1{padding: 2rem;}
#images-2{display: flex;
    align-items: center;}
#work>p, #goals>p{border: 2px solid black;
padding: 1rem;}
#photos{flex-direction: column;
padding: 3rem;}
#labels{border: 2px solid black;
padding: 1rem;}
#images{padding: 2rem;}